@import '_variables.scss';
@import '_mixins.scss';


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
}



.container {
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}



.header {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    background-color: $background-color_header;
    
    .nav {
        width: 80%;
        margin: 0 0 20px 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $background-color_nav;
        
        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            
            li {
                display: block;
                margin: 0;
                padding: 0;
                
                a{
                    text-decoration: none;
                    @include font_nav;
                    padding: 10px;
                    
                    $:hover {
                        background-color: $background-color_button;
                        }
                }
            }
        }
    }
    
    
    .description {
        width: 45%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
        h1 {
            margin: 0;
            padding: 0;
            @include font_h1;
            text-align: left;
        }
        
        p {
            margin: 0;
            padding: 0;
            @include font_p;
            text-align: left;
        }
        
        .contactUs {
            display: inline-block;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
            a{
                text-decoration: none;
                display: block;
                width: 40%;
                border-radius: 5px;
                @include font_button;
                background-color: $background-color_button;
                
                &:hover {
                    background-color: green;
                }
            }
        }
    }
    
    
    
    .video {
        max-width: 45%;
        min-width: 320px;
        min-height: 200px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 10px 10px 5px #d6cfd1, -10px -10px 5px #d6cfd1;
    }

}




















































