/* Styles of font for h1 */
/* Styles of font for h2 */
/* Styles of font for h3 */
/* Styles of font for h4 */
/* Styles of font for p */
/* Styles of font for nav */
/* Styles of font for menu */
/* Styles of font for menu_web */
/* Styles of font for buttons */
/* Background-color of header */
/* Background-color of nav in header */
/* Background-color of section design */
/* Background-color of section getInTouch_form */
/* Background-color of section getInTouch_contacts__Info */
/* Background-color of footer */
/* Background-color of buttons */
/* Styles of font for h1 */
/* Styles of font for h2 */
/* Styles of font for h3 */
/* Styles of font for h4 */
/* Styles of font for p */
/* Styles of font for nav */
/* Styles of font for menu */
/* Styles of font for menu_web */
/* Styles of font for buttons */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding-top: 30px; }

.container {
  width: 80%;
  margin: 0 auto 20px auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }

/* Block header */
.header {
  width: 100%;
  margin: 0 0 50px 0;
  padding: 30px 0 30px 0;
  box-sizing: border-box;
  background-color: #f6f2f2; }
  .header .nav {
    width: 80%;
    margin: 0 auto 40px auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000; }
    .header .nav ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center; }
      .header .nav ul li {
        display: block;
        margin: 0;
        padding: 0; }
        .header .nav ul li a {
          display: block;
          text-decoration: none;
          font-family: OpenSans, Arial, Verdana, sans-serif;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          line-height: 24px;
          color: #ffffff;
          letter-spacing: 1px;
          padding: 10px; }
          .header .nav ul li a:hover {
            background-color: #ff2d2d; }
  .header .description {
    width: 45%;
    min-width: 425px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: flex-start; }
    .header .description h1 {
      margin: 0 0 20px 0;
      padding: 0;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 36px;
      font-weight: 800;
      font-style: normal;
      line-height: 1.2;
      color: #000000;
      letter-spacing: 4px;
      text-align: left; }
    .header .description p {
      margin: 0 0 20px 0;
      padding: 0;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 17px;
      color: #000000;
      letter-spacing: 0.5px;
      text-align: left; }
    .header .description .contactUs {
      display: inline-block;
      width: 40%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-align: center; }
      .header .description .contactUs a {
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 5px 0 5px 0;
        border-radius: 5px;
        font-family: OpenSans, Arial, Verdana, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        line-height: 19px;
        color: #ffffff;
        letter-spacing: 1px;
        background-color: #ff2d2d; }
        .header .description .contactUs a:hover {
          background-color: green; }
  .header .view {
    width: 45%;
    min-width: 320px;
    min-height: 200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: flex-start;
    box-shadow: 20px 20px 20px #d6cfd1, -20px -20px 20px #d6cfd1, -20px 20px 20px #d6cfd1, 20px -20px 20px #d6cfd1, inset 0 -20px 20px #d6cfd1;
    border: none; }
    .header .view video {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none; }

/* Block main */
/* Section provide */
.provide .description {
  width: 45%;
  min-width: 425px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-self: flex-start; }
  .provide .description h2 {
    margin: 0 0 40px 0;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    text-align: left; }
  .provide .description p {
    margin: 0 0 50px 0;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: left; }
  .provide .description .learnMore {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center; }
    .provide .description .learnMore a {
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 5px 0 5px 0;
      border: 2px solid #ff2d2d;
      border-radius: 5px;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      line-height: 19px;
      color: #ff2d2d;
      letter-spacing: 1px;
      background-color: #ffffff; }
      .provide .description .learnMore a:hover {
        color: blue;
        background-color: lime; }
.provide .details {
  width: 45%;
  min-width: 324px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .provide .details .detail {
    width: 45%;
    margin: 0;
    padding: 0; }
    .provide .details .detail .picture {
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 24px;
      color: #ff2d2d; }
    .provide .details .detail h4 {
      margin: 0 0 5px 0;
      padding: 0;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.7);
      letter-spacing: 1px;
      text-align: left; }
    .provide .details .detail p {
      margin: 0 0 30px 0;
      padding: 0;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 17px;
      color: #000000;
      letter-spacing: 0.5px;
      text-align: left; }

.endProvide {
  width: 80%;
  margin: 0 auto 50px auto; }

/* Block Feature products */
.feature_products {
  margin: 0 0 50px 0; }
  .feature_products h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    text-align: center; }
  .feature_products p {
    width: 42%;
    margin: 0 auto 30px auto;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: center; }
    .feature_products p wbr {
      display: inline-block; }
  .feature_products .begining__feature_products {
    width: 10%;
    margin: 0 auto 50px auto; }
  .feature_products .menu {
    width: 80%;
    margin: 0 auto 30px auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff; }
    .feature_products .menu ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center; }
      .feature_products .menu ul li {
        display: block;
        margin: 0;
        padding: 0; }
        .feature_products .menu ul li a {
          display: block;
          text-decoration: none;
          font-family: OpenSans, Arial, Verdana, sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          line-height: 1.2;
          color: rgba(0, 0, 0, 0.7);
          letter-spacing: 0.5px;
          padding: 10px 20px 10px 20px; }
          .feature_products .menu ul li a:hover {
            color: #ff2d2d; }
  .feature_products .imgList {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    .feature_products .imgList figure {
      width: 24%;
      margin: 0 0 1% 0;
      padding: 0;
      box-sizing: border-box; }
      .feature_products .imgList figure img {
        width: 100%; }

/* Block Meet our teem */
.team {
  margin-bottom: 50px; }
  .team h2 {
    box-sizing: border-box;
    margin: 0 0 20px 10%;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    text-align: left; }
  .team p {
    box-sizing: border-box;
    width: 39%;
    margin: 0 0 30px 10%;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: left; }
  .team .begining__team {
    width: 10%;
    margin: 0 0 50px 10%; }
  .team .team__persons .team__representative {
    width: 30%;
    margin: 0;
    padding: 0;
    align-self: flex-end; }
    .team .team__persons .team__representative img {
      width: 100%; }
  .team .team__persons .ins {
    width: 68%;
    margin: 0;
    padding: 0;
    align-self: flex-end; }
    .team .team__persons .ins h3 {
      box-sizing: border-box;
      margin: 0 0 20px 0;
      padding: 0;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 0.5px;
      text-align: left; }
    .team .team__persons .ins p {
      box-sizing: border-box;
      width: 80%;
      margin: 0 0 30px 0;
      padding: 0;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 17px;
      color: #000000;
      letter-spacing: 0.5px;
      text-align: left; }
    .team .team__persons .ins .web {
      width: 45%;
      margin: 0 0 30px 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #ffffff; }
      .team .team__persons .ins .web ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start; }
        .team .team__persons .ins .web ul li {
          display: block;
          margin: 0;
          padding: 0; }
          .team .team__persons .ins .web ul li a {
            display: block;
            text-decoration: none;
            font-family: OpenSans, Arial, Verdana, sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: italic;
            line-height: 1.2;
            color: rgba(0, 0, 0, 0.8);
            letter-spacing: 0.5px;
            padding: 0px 30px 0 0; }
            .team .team__persons .ins .web ul li a:hover {
              color: #ff2d2d; }
    .team .team__persons .ins .person_pictures {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; }
      .team .team__persons .ins .person_pictures figure {
        width: 24%;
        margin: 0 0 0 0;
        padding: 0;
        box-sizing: border-box; }
        .team .team__persons .ins .person_pictures figure img, .team .team__persons .ins .person_pictures figure figcaption {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          border: none; }
        .team .team__persons .ins .person_pictures figure figcaption {
          background-color: #646a72;
          color: #ffffff;
          text-align: center;
          font-family: OpenSans, Arial, Verdana, sans-serif;
          font-size: 14px; }

/* Block Design */
.container__design {
  width: 100%;
  margin: 0 0 50px 0;
  padding: 60px 0 60px 0;
  background-color: rgba(247, 138, 143, 0.5); }
  .container__design h3 {
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-align: center; }
  .container__design p {
    box-sizing: border-box;
    margin: 0 0 30px 0;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-align: center; }
  .container__design .design__inquiry {
    width: 40%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between; }
    .container__design .design__inquiry input[type=email] {
      width: 55%;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 0.5px;
      padding-left: 15px;
      border: none;
      border-radius: 5px; }
    .container__design .design__inquiry input[type=submit] {
      width: 35%;
      display: block;
      border: none;
      box-sizing: border-box;
      text-align: center;
      font-family: OpenSans, Arial, Verdana, sans-serif;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      line-height: 19px;
      color: #ffffff;
      letter-spacing: 1px;
      padding: 5px 0 5px 0;
      border-radius: 5px;
      background-color: #ff2d2d; }
      .container__design .design__inquiry input[type=submit]:hover {
        background-color: green; }

/* Block getInTouch */
.getInTouch {
  margin-bottom: 50px; }
  .getInTouch h2 {
    box-sizing: border-box;
    margin: 0 0 20px 10%;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    text-align: left; }
  .getInTouch p {
    box-sizing: border-box;
    width: 39%;
    margin: 0 0 30px 10%;
    padding: 0;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: left; }
  .getInTouch .begining__getInTouch {
    width: 10%;
    margin: 0 0 50px 10%; }

.contacts {
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  padding-bottom: auto; }
  .contacts .contacts__feedback {
    box-sizing: border-box;
    width: 40%;
    margin: 0;
    padding: 0;
    order: 2; }
    .contacts .contacts__feedback .contacts__data {
      width: 100%;
      margin: 0 0 30px 0;
      padding: 0;
      display: flex;
      justify-content: space-between; }
      .contacts .contacts__feedback .contacts__data input {
        display: block;
        width: 45%;
        margin: 0;
        padding: 5px 0 5px 20px;
        border: none;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #e5e3e3;
        font-family: OpenSans, Arial, Verdana, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: 0.5px; }
    .contacts .contacts__feedback .contacts__text {
      margin: 0 0 30px 0;
      padding: 0; }
      .contacts .contacts__feedback .contacts__text textarea {
        display: block;
        width: 100%;
        margin: 0;
        height: 100px;
        resize: none;
        text-align: left;
        padding: 5px 0 0 20px;
        border: none;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #e5e3e3;
        font-family: OpenSans, Arial, Verdana, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: 0.5px; }
    .contacts .contacts__feedback .contacts__button {
      width: 100%;
      margin: 0;
      padding: 0; }
      .contacts .contacts__feedback .contacts__button input {
        width: 100%;
        display: block;
        border: none;
        box-sizing: border-box;
        text-align: center;
        font-family: OpenSans, Arial, Verdana, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        line-height: 19px;
        color: #ffffff;
        letter-spacing: 1px;
        padding: 5px 0 5px 0;
        border-radius: 5px;
        background-color: #ff2d2d; }
        .contacts .contacts__feedback .contacts__button input:hover {
          background-color: green; }
  .contacts .contacts__emptyBlock_1 {
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    order: 1; }
  .contacts .contacts__emptyBlock_2 {
    box-sizing: border-box;
    width: 5%;
    height: 100%;
    margin: 0;
    padding: 0;
    order: 3; }
  .contacts .contacts__info {
    box-sizing: border-box;
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.8);
    leter-spacing: 0.5px;
    align-self: stretch;
    margin-bottom: auto;
    order: 4; }
    .contacts .contacts__info address {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding-left: 30px; }
  .contacts .contacts__emptyBlock_3 {
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    order: 5; }

.footer {
  width: 100;
  box-sizing: border-box;
  margin: 0 0 30px 0;
  padding: 5px 10% 5px 10%;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff; }
  .footer p {
    font-family: OpenSans, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    leter-spacing: 0.5px; }
    .footer p a {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 20px;
      font-size: 18px;
      text-align: center;
      padding-top: 5px;
      border-radius: 50%;
      color: #000000;
      background-color: #ffffff;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out; }
      .footer p a:hover {
        background-color: lime;
        color: red;
        transform: scale(1.5); }

/*# sourceMappingURL=styles.css.map */
