@import "_variables.scss";
@import "_mixins.scss";


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 30px;
}



.container {
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}




/* Block header */

.header {
    width: 100%;
    margin: 0 0 50px 0;
    padding: 30px 0 30px 0;
    box-sizing: border-box;
    background-color: $background-color_header;
    
    .nav {
        width: 80%;
        margin: 0 auto 40px auto;
        padding: 0;
        box-sizing: border-box;
        background-color: $background-color_nav;
        
        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            
            li {
                display: block;
                margin: 0;
                padding: 0;
                
              
                a {
                    display: block;
                    text-decoration: none;
                    @include font_nav($font-family_nav, $font-size_nav, $font-weight_nav, $font-style_nav, $line-height_nav, $color_nav, $leter-spacing_nav);
                    padding: 10px;
                    
                    &:hover {
                        background-color: $background-color_button;
                        }
                }
            }
        }
    }
    
    
    .description {
        width: 45%;
        min-width: 425px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-self: flex-start;
        
        h1 {
            margin: 0 0 20px 0;
            padding: 0;
            @include font_h1($font-family_h1, $font-size_h1, $font-weight_h1, $font-style_h1, $line-height_h1, $color_h1, $leter-spacing_h1);
            text-align: left;
        }
        
        p {
            margin: 0 0 20px 0;
            padding: 0;
            @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, $color_p, $leter-spacing_p);
            text-align: left;
        }
        
        .contactUs {
            display: inline-block;
            width: 40%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-align: center;
            
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                padding: 5px 0 5px 0;
                border-radius: 5px;
                @include font_button($font-family_button, $font-size_button, $font-weight_button, $font-style_button, $line-height_button, $color_button, $leter-spacing_button);
                background-color: $background-color_button;
                
                &:hover {
                    background-color: green;
                }
            }
        }
    }
    
    
    
    .view {
        width: 45%;
        min-width: 320px;
        min-height: 200px; 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-self: flex-start;
        box-shadow: 20px 20px 20px #d6cfd1, -20px -20px 20px #d6cfd1, -20px 20px 20px #d6cfd1, 20px -20px 20px #d6cfd1, inset 0 -20px 20px #d6cfd1;
        border: none;
        
        video {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
        }
    }

}





/* Block main */
    
/* Section provide */


.provide {
    .description {
        width: 45%;
        min-width: 425px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-self: flex-start;
        
        h2 {
            margin: 0 0 40px 0;
            padding: 0;
            @include font_h2($font-family_h2, $font-size_h2, $font-weight_h2, $font-style_h2, $line-height_h2, $color_h2, $leter-spacing_h2);
            text-align: left;
        }
        
        p {
            margin: 0 0 50px 0;
            padding: 0;
            @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, $color_p, $leter-spacing_p);
            text-align: left;
        }
        
        .learnMore {
            display: inline-block;
            width: 40%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-align: center;
            
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                padding: 5px 0 5px 0;
                border: 2px solid #ff2d2d;
                border-radius: 5px;
                @include font_button($font-family_button, $font-size_button, $font-weight_button, $font-style_button, $line-height_button, #ff2d2d, $leter-spacing_button);
                background-color: #ffffff;
                
                &:hover {
                    color: blue;
                    background-color: lime;
                }
            }
        }
    }
    
    
    .details {
        width: 45%;
        min-width: 324px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
        
        
        .detail {
            width: 45%;
            margin: 0;
            padding: 0;
            
            
            .picture {
                display: block;
                margin: 0 0 10px 0;
                padding: 0;
                font-size: 24px;
                color: #ff2d2d;
            }
            
            h4 {
                margin: 0 0 5px 0;
                padding: 0;
                @include font_h4($font-family_h4, $font-size_h4, $font-weight_h4, $font-style_h4, $line-height_h4, $color_h4, $leter-spacing_h4);
                text-align: left;
            }
            
            
            p {
                margin: 0 0 30px 0;
                padding: 0;
                @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, $color_p, $leter-spacing_p);
                text-align: left;
            }
        }
    }
}



.endProvide {
    width: 80%;
    margin: 0 auto 50px auto;
}




/* Block Feature products */

.feature_products {
    margin: 0 0 50px 0;;
    h2 {
        margin: 0 0 20px 0;
        padding: 0;
        @include font_h2($font-family_h2, $font-size_h2, $font-weight_h2, $font-style_h2, $line-height_h2, $color_h2, $leter-spacing_h2);
        text-align: center;
        }
        
        p {
            width: 42%;
            margin: 0 auto 30px auto;
            padding: 0;
            @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, $color_p, $leter-spacing_p);
            text-align: center;
            
            wbr {
                display: inline-block;
            }
        }
    
    .begining__feature_products {
        width: 10%;
        margin: 0 auto 50px auto;
        
    }
    
    
    .menu {
        width: 80%;
        margin: 0 auto 30px auto;
        padding: 0;
        box-sizing: border-box;
        background-color: #ffffff;
        
        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            
            li {
                display: block;
                margin: 0;
                padding: 0;
                
              
                a{
                    display: block;
                    text-decoration: none;
                    @include font_menu($font-family_menu, $font-size_menu, $font-weight_menu, $font-style_menu, $line-height_menu, $color_menu, $leter-spacing_menu);
                    padding: 10px 20px 10px 20px;
                    
                    &:hover {
                        color: $background-color_button;
                        }
                }
            }
        }
    }
    
    
    .imgList {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        
        
        figure {
            width: 24%;
            margin: 0 0 1% 0;;
            padding: 0;
            box-sizing: border-box;
            img {
                width: 100%;
            }
        }
    }
    
}



/* Block Meet our teem */

.team {
    
    margin-bottom: 50px;
    h2 {
        box-sizing: border-box;
        margin: 0 0 20px 10%;
        padding: 0;
        @include font_h2($font-family_h2, $font-size_h2, $font-weight_h2, $font-style_h2, $line-height_h2, $color_h2, $leter-spacing_h2);
        text-align: left;
        }
        
    p {
        box-sizing: border-box;
        width: 39%;
        margin: 0 0 30px 10%;
        padding: 0;
        @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, $color_p, $leter-spacing_p);
        text-align: left;
        }
    
    .begining__team {
        width: 10%;
        margin: 0 0 50px 10%;
    }
    
    
    .team__persons {
        
        
        .team__representative {
            width: 30%;
            margin: 0;
            padding: 0;
            align-self: flex-end;
            img{
                width: 100%;
            }
        }
        
        
        .ins {
            width: 68%;
            margin: 0;
            padding: 0;
            align-self: flex-end;
            
            
            h3 {
                box-sizing: border-box;
                margin: 0 0 20px 0;
                padding: 0;
                @include font_h3($font-family_h3, $font-size_h3, $font-weight_h3, $font-style_h3, $line-height_h3, $color_h3, $leter-spacing_h3);
                text-align: left;
                }
        
            p {
                box-sizing: border-box;
                width: 80%;
                margin: 0 0 30px 0;
                padding: 0;
                @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, $color_p, $leter-spacing_p);
                text-align: left;
                }
                
            .web {
                width: 45%;
                margin: 0 0 30px 0;
                padding: 0;
                box-sizing: border-box;
                background-color: #ffffff;
        
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: flex-start;
            
                    li {
                        display: block;
                        margin: 0;
                        padding: 0;
                
              
                        a{
                            display: block;
                            text-decoration: none;
                            @include font_menu_web($font-family_menu_web, $font-size_menu_web, $font-weight_menu_web, $font-style_menu_web, $line-height_menu_web, $color_menu_web, $leter-spacing_menu_web);
                            padding: 0px 30px 0 0;
                    
                            &:hover {
                                color: $background-color_button;
                                }
                        }
                    }
                }
            }
            
            
            .person_pictures {
                width: 100%;
                margin: 0 auto;
                padding: 0;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                
                flex-wrap: nowrap;
        
        
                figure {
                    width: 24%;
                    margin: 0 0 0 0;;
                    padding: 0;
                    box-sizing: border-box;
                    
                    img, figcaption {
                        display: block;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        border: none;
                    }
                    
                    figcaption {
                       
                        background-color: #646a72;
                        color: #ffffff;
                        text-align: center;
                        font-family: OpenSans, Arial, Verdana, sans-serif;
                        font-size: 14px;
                        
                    }
                }
            }
            
        }
    }
    
}




/* Block Design */

.container__design {
    width: 100%;
    margin: 0 0 50px 0;
    padding: 60px 0 60px 0;
    background-color: $background-color_design;
    
    h3 {
        box-sizing: border-box;
        margin: 0 auto 20px auto;
        padding: 0;
        @include font_h3($font-family_h3, $font-size_h3, $font-weight_h3, $font-style_h3, $line-height_h3, #ffffff, $leter-spacing_h3);
        text-align: center;
        }
        
    p {
        box-sizing: border-box;
        margin: 0 0 30px 0;
        padding: 0;
        @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, #ffffff, $leter-spacing_p);
        text-align: center;
        }
    
    .design__inquiry {
        width: 40%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        
        input[type=email] {
            width: 55%;
            @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, rgba(0,0,0,.5), $leter-spacing_p);
            padding-left: 15px;
            border: none;
            border-radius: 5px;
        }
        
        input[type=submit] {
            width: 35%;
            display: block;
            border: none;
            box-sizing: border-box;
            text-align: center;
            @include font_button($font-family_button, $font-size_button, $font-weight_button, $font-style_button, $line-height_button, $color_button, $leter-spacing_button);
            padding: 5px 0 5px 0;
            border-radius: 5px;
            background-color: $background-color_button;
            &:hover {
                
                background-color: green;
            }
            
        }
    }
}



/* Block getInTouch */

.getInTouch {
    margin-bottom: 50px;
    h2 {
        box-sizing: border-box;
        margin: 0 0 20px 10%;
        padding: 0;
        @include font_h2($font-family_h2, $font-size_h2, $font-weight_h2, $font-style_h2, $line-height_h2, $color_h2, $leter-spacing_h2);
        text-align: left;
        }
        
    p {
        box-sizing: border-box;
        width: 39%;
        margin: 0 0 30px 10%;
        padding: 0;
        @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, $color_p, $leter-spacing_p);
        text-align: left;
        }
    
    .begining__getInTouch {
        width: 10%;
        margin: 0 0 50px 10%;
    }
}

.contacts {
        width: 100%;
        margin: 0 0 50px 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        padding-bottom: auto;
        
        
        .contacts__emptyBlock_1 {
            box-sizing: border-box;
            width: 10%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        .contacts__feedback {
            box-sizing: border-box;
            width: 40%;
            margin: 0;
            padding: 0;
            
            .contacts__data {
                width: 100%;
                margin: 0 0 30px 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                
                input {
                    display: block;
                    width: 45%;
                    margin: 0;
                    padding: 5px 0 5px 20px;
                    border: none;
                    box-sizing: border-box;
                    border-radius: 5px;
                    background-color: $background-color_getInTouch_form;
                    @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, rgba(0,0,0,.8), $leter-spacing_p);
                    
                }
            }
            
            .contacts__text {
                 margin: 0 0 30px 0;
                 padding: 0;
                
                 textarea {
                    display: block;
                    width: 100%;
                    margin: 0;
                    height: 100px;
                    resize: none;
                    text-align: left;
                    padding: 5px 0 0 20px;
                    border: none;
                    box-sizing: border-box;
                    border-radius: 5px;
                    background-color: $background-color_getInTouch_form;
                    @include font_p($font-family_p, $font-size_p, $font-weight_p, $font-style_p, $line-height_p, rgba(0,0,0,.8), $leter-spacing_p);
                    }
                }
            
            .contacts__button {
                width: 100%;
                margin: 0;
                padding:0;
                
                input {
                    width: 100%;
                    display: block;
                    border: none;
                    box-sizing: border-box;
                    text-align: center;
                    @include font_button($font-family_button, $font-size_button, $font-weight_button, $font-style_button, $line-height_button, $color_button, $leter-spacing_button);
                    padding: 5px 0 5px 0;
                    border-radius: 5px;
                    background-color: $background-color_button;
                    
                    &:hover {
                
                        background-color: green;
                    }
            
                }
            }
        }
        
        .contacts__emptyBlock_2 {
            box-sizing: border-box;
            width: 5%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        .contacts__info {
            
            box-sizing: border-box;
            width: 35%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: $background-color_contacts__info;
            color: #ffffff;
            font-family: OpenSans, Arial, Verdana, sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.2;
            color: rgba(255,255,255,.8);
            leter-spacing: 0.5px;
            align-self: stretch;
            margin-bottom: auto;
            
            address {
                display: block;
                width: 100%;
                box-sizing: border-box;
                margin: 0;
                padding-left: 30px;
                
            }
            }
        
        .contacts__emptyBlock_3 {
            box-sizing: border-box;
            width: 10%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: $background-color_contacts__info;
        }
    }




.footer {
    width: 100;
    box-sizing: border-box;
    margin: 0 0 30px 0;
    padding: 5px 10% 5px 10%;
    display: flex;
    justify-content: space-between;
    background-color: $background-color_footer;
    color: #ffffff;
    
    p {
        font-family: OpenSans, Arial, Verdana, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        line-height: 30px;
        color: rgba(255,255,255,.8);
        leter-spacing: 0.5px;
        
        a{
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-left: 20px;
            font-size: 18px;
            text-align: center;
            padding-top: 5px;
            border-radius: 50%;
            color: #000000;
            background-color: #ffffff;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            
            &:hover {
                background-color: lime;
                color: red;
                transform: scale(1.5);
                }
        }
    }
}


         
                
            

















